body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brand {
    font-size: 36px;
    text-align: center;
    color: blueviolet;
    margin-bottom: 50px;
}

.recipes{
    margin: 30px 100px;
}

.menu {
    display: flex;
}

.menu__el{
    flex: 0 1 33,333%;
    margin-right: 20px;
    margin-left: 20px;
}
