* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(14, 12, 12, 0.829);
}


img {
    object-fit: cover;
}


.brand {
    font-size: 36px;
    text-align: center;
    color: blueviolet;
    margin-bottom: 50px;
}

.recipes{
    margin: 30px 100px;
    
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu img {
    max-width: 490px;
    max-height: 100%;
    flex: 1 0 auto;
    margin-bottom: 20px;
}

.menu__el{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 20px 0px;
}

.recipe__title {
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid lightgray;
}

.menu li {
    text-align: center;
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding: 20px;
}